html{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.container{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 50px;

}

button{
    background-color: transparent;
    margin-top: 20px;
}
#files{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
li{
    position: relative;
    margin-top:20px;
}
.delete{
    position: absolute;
    right: 0;
    top: 0;
    margin:0;
    
}
